@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body {
  font-family: 'Nanum Gothic', Cambria, Palatino Linotype, Palatino, Liberation Serif, serif;
}

code {
    font-family: 'Nanum Gothic Coding', Consolas, Monaco, monospace;
}

emu-const {
  font-family: 'Nanum Gothic', sans-serif;
}
