/**
* ECMA-262-specific hacks. Shouldn't require a ton of maintenance; audit if
* visual inspection results in unexpected page breaks.
*/
/* 2.2 Examples of legacy/normative-optional are small enough to be aggressive against breaks */
#sec-conformance [example],

/* 8.3.3 avoid breaking in small alg lists */
#sec-static-semantics-containsundefinedcontinuetarget li,

/* 16.2.1.5.4 many tables */
#table-module-graph-cycle-async-fields-1 table,
#table-module-graph-cycle-async-fields-9 table {
  break-inside: avoid-page;
}

/* 12.10.1 long note can break wherever it wants */
#sec-rules-of-automatic-semicolon-insertion > emu-note {
  break-before: initial;
  break-inside: initial;
}

/* 12.10.2, 12.10.3, 12.10.3.2 Sections start with an <em> not inside a <p> */
#sec-examples-of-automatic-semicolon-insertion > em,
#sec-interesting-cases-of-automatic-semicolon-insertion > em,
#sec-asi-cases-with-no-lineterminator-here > em {
  display: block;
  margin-top: 1.25ex;
}

/* 15.1.2 bad spacing between intro and first emu-grammar */
#sec-static-semantics-containsexpression > emu-grammar:first-of-type {
  margin-top: 2ex;
}

/* 15.3 A very long term combined with inline-block, nowrap, and justified text resulting in weird punctuation */
#sec-arrow-function-definitions > p > emu-grammar {
  text-align: left;
}

/* 16.2.1.5.4 squish margins on graphics so table 46 fits on one page */
#sec-example-cyclic-module-record-graphs figure:has(> img),
#sec-example-cyclic-module-record-graphs figure > img {
  margin: 0;
}
#sec-example-cyclic-module-record-graphs figure:has(> img) > figcaption {
  margin-bottom: 1ex;
}
#sec-example-cyclic-module-record-graphs emu-figure:has(> figure > img) + p {
  margin-top: 1ex;
}

/* 16.2.1.5.4 table 51 & 54 are too narrow for caption */
#table-module-graph-cycle-async-fields-6 table {
  width: 110mm;
}
#table-module-graph-cycle-async-fields-9 table {
  width: 135mm;
}

/* 20.1.3.7 legacy title */
#sec-object\.prototype\.__proto__ > .attributes-tag {
  break-before: avoid-page;
  break-after: avoid-page;
}

/* 21.4.1.22 Table 61 middle column is too narrow */
#table-time-zone-identifier-record-fields > figure > table th:nth-of-type(2) {
  width: 15%;
}

/* 21.4.4.41.2 These tables are way too narrow for their captions */
#sec-todatestring-day-names table,
#sec-todatestring-month-names table {
  width: 100mm;
}

/* 27.2.6 squeeze to make more room for figure-2.svg */
#table-internal-slots-of-promise-instances > figure {
  margin-bottom: 0;
}

/* 27.3 fit generator objects relationships diagram */
#sec-generatorfunction-objects,
#sec-generatorfunction-objects h1 {
  margin-top: 1.5ex;
}

/* 27.3 `figure-2.svg` is just a tiny bit too big to fit on the page, results in weird white space */
#figure-2 figure {
  margin: 1ex 0;
}
#figure-2 > figure > img {
  width: 97%;
}

/* 29.11 extremely long note */
#sec-shared-memory-guidelines > emu-note {
  break-inside: auto;
}
