@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body {
  font-family: 'Nanum Gothic', Cambria, Palatino Linotype, Palatino, Liberation Serif, serif;
}

code {
    font-family: 'Nanum Gothic Coding', Consolas, Monaco, monospace;
}

emu-const {
  font-family: 'Nanum Gothic', sans-serif;
}

#menu {
  width: 24%;
}

@media (max-width: 1000px) {
  #menu {
    width: 450px;
  }
}

@media only screen and (max-width: 800px) {
  #menu {
    width: 100%;
  }
}
