name: 'enforce format'

on: [pull_request]

jobs:
  build:
    name: 'enforce format'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ljharb/actions/node/install@d9f477827ed71a259056764107f74afc29febcae
        name: 'nvm install lts/* && npm ci'
        with:
          node-version: lts/*
          use-npm-ci: true
      - run: 'if ! npx emu-format --check spec.html; then echo "You need to run \`npm run format\`"; exit 1; fi'
