name: 'ecma-262'

on:
  pull_request_target:
    branches:
       - '*'
  push:
    branches:
       - main

jobs:
  build:
    name: 'check IPR form'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ljharb/actions/node/install@d9f477827ed71a259056764107f74afc29febcae
        name: 'nvm install lts/* && npm ci'
        with:
          node-version: lts/*
          use-npm-ci: true
      - run: 'npm run ipr-check'
        env:
          GH_TOKEN: ${{ secrets.GH_IPR_TOKEN }}
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
