name: Build Preview

on: [pull_request]

jobs:
  build:
    name: 'build PR preview'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ljharb/actions/node/install@d9f477827ed71a259056764107f74afc29febcae
        name: 'nvm install lts/* && npm ci'
        with:
          node-version: lts/*
          use-npm-ci: true
      - run: npm run build-only
      - run: node scripts/insert_snapshot_warning
      - run: echo ${{ github.event.number }} > out/pr.txt
      - uses: actions/upload-artifact@v3
        with:
          name: out
          path: out/
